* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 50px;
}
.container {
  width: 800px;
  margin: 0 auto;
}
table {
  width: 100%;
}
.box {
  width: 400px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Box-1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.Submit {
  margin-top: 15px;
  height: 25px;
  width: 20%;
  background: orange;
  border-radius: 5px;
}
input {
  width: 60%;
}
.btn {
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
}
.w-2 {
  width: 40%;
  display: flex;
  margin: 3px;
  gap: 7px;
}
table {
  border: 1px solid black;
}
.bg-color1 {
  background-color: darkgreen;
}
.bg-color2 {
  background-color: red;
}
.bg-color3 {
  background-color: purple;
}
.bg-color4 {
  margin-bottom: 15px;
  background-color: blue;
}
